include README.md Sconstruct requirements.txt
recursive-include src *.c *.pxd *.pyx
recursive-include include *.h
recursive-include matlab *.m *.c
recursive-include site_scons *.py
recursive-include examples *.py *.ipynb
