name: C Library

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-15-intel, macos-latest, ubuntu-latest]
        include:
          - os: ubuntu-latest
            INSTALL_DEPS: sudo apt-get install scons liblapack-dev libfftw3-dev
          - os: macos-15-intel
            INSTALL_DEPS: brew install scons fftw
          - os: macos-latest
            INSTALL_DEPS: brew install scons fftw
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - name: Install dependencies
      run: ${{ matrix.INSTALL_DEPS }}
    - name: build
      run: scons lib test
    - name: test
      run: test/test_tfr
