name: Python tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15-intel, macos-latest, ubuntu-latest]
        include:
          - os: ubuntu-22.04
            INSTALL_DEPS: sudo apt-get install liblapack-dev libfftw3-dev
          - os: macos-15-intel
            INSTALL_DEPS: brew install fftw
          - os: macos-latest
            INSTALL_DEPS: brew install fftw
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "pypy3.10", "pypy3.11"]
        exclude:
          - os: macos-13
            python-version: "3.13"
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        version: "latest"
        python-version: ${{ matrix.python-version }}
    - name: Install libraries
      run: ${{ matrix.INSTALL_DEPS }}
    - name: Install dependencies
      run: uv sync --frozen
    - name: Run tests on python ${{ matrix.python-version }}
      run: uv run pytest -v
    - name: Setup upterm session
      uses: lhotari/action-upterm@v1
      if: ${{ failure() }}
      with:
        ## If no one connects after 5 minutes, shut down server.
        wait-timeout-minutes: 5
